<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>CIT 436 Assignment 8 - TemperatureViewer</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

</head>

<body>

<div id="wrapper">
  <div id="content">

    <div id="header">
      <h1><a href="#">Temperature Viewer</a></h1>
    </div><!-- header -->

    <div id="container">


      <div id="main">

        <h2><span class="blue">Temps</span></h2>
        <blockquote>Following is a list of temperatures for selected cities in the U.S.</blockquote>

        <%= yield %>

      </div><!--main-->



      <div style="clear:both;"></div>
    </div><!--container-->


    <div id="footer">

    </div><!--footer-->

  </div><!-- content -->

</div><!-- wrapper -->

<script type="text/javascript">
    $(document).ready(function() {
        $("#infinite").scrollable().circular();
    });
</script>


</body>
</html>
